<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Form Example</title>
</head>
<body>
<form>
    <label>Medication Name <input type="text" name="medication"/></label>
    <label>Dosage <input type="text" name="dosage"/></label>
    <label>Frequency <input type="text" name="frequency"/></label>
    <label>Route of Administration <input type="text" name="routeofadministration"/></label>
    <label>Prescribing Physician <input type="text" name="prescribingphysician"/></label>
    <label>Date Started <input type="text" name="datestarted"/></label>
    <label>Refill <input type="text" name="Refill"/></label>
    <label>Over the Counter <input type="text" name="overthecounter"/></label>
    <button>Submit</button>
</form>
</body>
</html>

