<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Profile Management</title>
</head>
<!--Use fragments.html for consistency across pages-->

<body class="container body-content">

<h1 th:text="${'Medical Profile for: ' + user.userName}">MedInfoTracker</h1>

<nav th:replace="fragments :: page-header"></nav>


<div class="medication-view">
    <p th:text="${'Medication Name: ' + Medication.medicationName}"></p>
    <p th:text="${'Dosage: ' + Medication.Dosage}"></p>
    <p th:text="${'Frequency: ' + Medication.Frequency}"></p>
    <p th:text="${'Route of Administration: ' + Medication.routeOfAdministration}"></p>
    <p th:text="${'Prescribing Physician: ' + Medication.prescribingPhysician}"></p>
    <p th:text="${'Date Started: ' + Medication.dateStarted}"></p>
    <p th:text="${'Refill ' + Medication.Refill}"></p>
    <p th:text="${'Over the Counter: ' + Medication.overTheCounter}"></p>


</div>


<div class="form-group">
    <label>
    <span th:text="${'Delete Profile?'}"></span>
    <!--            <input type="hidden" name="_method" value="delete">-->
    <input type="checkbox" name="delete" th:value="${profileUserID}" class="form-control">
    </label>
    </div>
<br>

<!--&lt;!&ndash;//<form method="post">&ndash;&gt;-->
<!--&lt;!&ndash;    //&lt;!&ndash;            action="#" th:action=@{'/deleteProfile'}" &ndash;&gt;&ndash;&gt;-->
    <button id="delete" name="delete" th:onclick="@{'/deleteProfile'}">Delete My Profile</button>
    <!--        <button type="submit" class="btn">Delete</button>-->
<!--    </form>-->
<!--//<br>-->
<!--//&lt;!&ndash;<form action="#" th:action="@{'/deleteProfile/{profileId}'(profileId=${profileUserId})}" th:method="delete" >&ndash;&gt;-->
<!--//&lt;!&ndash;    <input type="hidden" name="_method" value="delete" />&ndash;&gt;-->
<!--//&lt;!&ndash;    <button type="submit" id="submitButton"> </button>&ndash;&gt;-->
<!--//&lt;!&ndash;</form>&ndash;&gt;-->

<!--//&lt;!&ndash;    <button id="delete" name="delete" th:onclick="@{'/foos/{id}'(id=${foo.id})}" th:method="delete">Delete</button>&ndash;&gt;-->
<!--//&lt;!&ndash;    <input type="submit" value="Delete My Profile" class="btn btn-danger">&ndash;&gt;-->
<!--//&lt;!&ndash;</form>&ndash;&gt;-->



</body>
</html>
