<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Create a New User Account</h1>

<!--Use fragments.html for consistency across  pages-->
<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">

    <div class="form-group">
        <label th:for="userName">Username</label>
        <input class="form-control" th:field="${user.userName}" />
        <span th:errors="${user.userName}" class="error"></span>
    </div>


    <input type="submit" value="Add Profile Information"/>
</form>

</body>
</html>