<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="fragments :: head">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Profile Management</title>-->
<!--</head>-->
<!--<body class="container">-->

<!--<header th:replace="fragments :: header"></header>-->

<!--<form method="post">-->

<!--&lt;!&ndash;    <th:block th:each="profile : ${profiles}">&ndash;&gt;-->
<!--        <div class="form-group">-->
<!--            <label>-->
<!--                <span th:text="${Are you sure you want to delete your Profile?}"></span>-->
<!--                <input type="checkbox" name="profileUserId" th:value="${profileUserId}" class="form-control">-->
<!--            </label>-->
<!--        </div>-->
<!--&lt;!&ndash;    </th:block>&ndash;&gt;-->

<!--    <input type="submit" value="Delete Profile" class="btn btn-danger">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->