<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
</head>


<!--<body class="container body-content">-->
<!--<h1 th:text="${'User: ' + user.userName}"></h1>-->

<!--Use fragments.html for consistency across  pages-->
<div th:replace="fragments :: page-header"></div>

<p th:unless="${users} and ${user.size()}">no users</p>

<div class="container body-content">
    <h2>Hello</h2>
    <ul>
        <li th:each="user : ${users}">
<!--            <a th:href="@{'/user/view/' + ${user.id}" th:text="${user.userName}"></a>-->
        </li>
    </ul>
    <a th:href="@{'/profile/add'}">Create My Profile</a>
</div>

</body>
</html>

