<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Profile Management</title>
</head>
<!--Use fragments.html for consistency across pages-->

<body class="container body-content">

<h1 th:text="${'Medical Profile for: ' + user.userName}">MedInfoTracker</h1>
<hr>
<nav th:replace="fragments :: page-header"></nav>

<br>
<a style="color:black;" th:href="@{/index}">Return Home</a>
<br>
<a style="color:black;" th:href="@{'/user/updateProfile/{userId}' (userId=${userId})}">Edit or Update My Profile</a>
<br>

<div class="user-profile">
<!--    <p th:text="${'User ID: ' + userId}"></p>-->
    <p th:text="${'Username: ' + user.userName}"></p>
    <p th:text="${'Email: ' + user.userEmail}"></p>
    <br>
    <p th:text="${'Preferred Name: ' + profile.userPreferredName}"></p>
    <p th:text="${'Preferred Pronouns: ' + user.profile.userPreferredPronouns}"></p>
<!--    <p th:text="${'Profile ID: ' + user.profile}"></p>-->
    <p th:text="${'Medical Record Name: ' + user.profile.userMedicalRecordName}"></p>
    <p th:text="${'Address: ' + user.profile.userAddress}"></p>
    <p th:text="${'Phone Number: ' + user.profile.userPhoneNumber}"></p>
    <p th:text="${'Date of Birth: ' + user.profile.userDateOfBirth}"></p>
    <p th:text="${'Emergency Contact: ' + user.profile.emergencyName}"></p>
    <p th:text="${'Emergency Contact Number: ' + user.profile.emergencyPhoneNumber}"></p>
    <p th:text="${'Emergency Contact Relationship: ' + user.profile.emergencyRelationship}"></p>
    <p th:text="${'Primary Care Physician (PCP): ' + user.profile.primaryCarePhysicianName}"></p>
    <p th:text="${'PCP Address: ' + user.profile.primaryCarePhysicianAddress}"></p>
    <p th:text="${'PCP Phone Number: ' + user.profile.primaryCarePhysicianPhoneNumber}"></p>
    <p th:text="${'Specialist Physician: ' + user.profile.specialistName}"></p>
    <p th:text="${'Specialist Phone Number: ' + user.profile.specialistPhoneNumber}"></p>
    <p th:text="${'Specialist Type: ' + user.profile.specialistType}"></p>
    <p th:text="${'Known Allergies of Any Kind: ' + user.profile.allergies}"></p>
    <p th:text="${'Medical Conditions: ' + user.profile.medicalConditions}"></p>
</div>



<form method="post">
    <div class="form-group">
        <label>
            <span th:text="${'Delete Profile?'}"></span>
            <input type="checkbox" name="userId" th:value="${userId}" class="form-control">
        </label>

    </div>

        <button name="delete" type="submit" value=":Delete">Delete My Profile</button>

    </form>
<hr>
<br>
<br>
<br>


</body>
</html>