<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Profile Management</title>
</head>
<body class="container body-content">
<br>
<br>
<br>

<h3>Update Profile</h3>
<hr>
<nav th:replace="fragments :: page-header"></nav>

    <form method="POST">
<!--        action = "/index"-->
    <!--            action = "/user/updateProfile"-->
    <!--              th:object="${profile}"-->

<!--        <div class="container body-content">-->


<!--        <div class="user-profile">-->
<!--        &lt;!&ndash; Add hidden form field to handle update &ndash;&gt;-->
<!--        <input type="hidden" th:field="${user.userId}">-->

<!--        <input type="text" th:field="${userEmail}" class="form-group"/>-->
<!--        <h5 th:text="${'Current Preferred Name: ' + user.profile.userPreferredName}"></h5>-->
<!--&lt;!&ndash;            <input type="text" id=userPreferredName name="userPreferredName" value=${profile.userPreferredName} />&ndash;&gt;-->
<!--        <input type="text" th:field="${profile.userPreferredName}" class="form-group"/>-->


            <!--Use fragments.html for consistency across  pages-->
<!--            <nav th:replace="fragments :: page-header"></nav>-->

<!--<form method="post" style="max-width:600px;">-->

                <div class="form-group">
                    <label th:for="userPreferredName">User Preferred Name</label>
                        <input class="form-control" th:field="${profile.userPreferredName}"/>
                    <p class="error" th:errors="${profile.userPreferredName}"></p>
                </div>

                <div class="form-group">
                    <label th:for="userPreferredPronouns">User Preferred Pronouns</label>
                    <input class="form-control" th:field="${profile.userPreferredPronouns}" />
                    <span th:errors="${profile.userPreferredPronouns}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="userMedicalRecordName">User Medical Record Name</label>
                    <input class="form-control" th:field="${profile.userMedicalRecordName}" />
                    <span th:errors="${profile.userMedicalRecordName}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="userAddress">User Address</label>
                    <input class="form-control" th:field="${profile.userAddress}" />
                    <span th:errors="${profile.userAddress}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="userPhoneNumber">User Phone Number</label>
                    <input class="form-control" th:field="${profile.userPhoneNumber}" />
                    <span th:errors="${profile.userPhoneNumber}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="userDateOfBirth">User Date of Birth</label>
                    <input class="form-control" th:field="${profile.userDateOfBirth}" />
                    <span th:errors="${profile.userDateOfBirth}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="emergencyName">Emergency Contact Name</label>
                    <input class="form-control" th:field="${profile.emergencyName}" />
                    <span th:errors="${profile.emergencyName}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="emergencyPhoneNumber">Emergency Contact Phone</label>
                    <input class="form-control" th:field="${profile.emergencyPhoneNumber}" />
                    <span th:errors="${profile.emergencyPhoneNumber}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="emergencyRelationship">Relationship to Emergency Contact</label>
                    <input class="form-control" th:field="${profile.emergencyRelationship}" />
                    <span th:errors="${profile.emergencyRelationship}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="primaryCarePhysicianName">Primary Care Physician Name</label>
                    <input class="form-control" th:field="${profile.primaryCarePhysicianName}" />
                    <span th:errors="${profile.primaryCarePhysicianName}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="primaryCarePhysicianAddress">Primary Care Physician Address</label>
                    <input class="form-control" th:field="${profile.primaryCarePhysicianAddress}" />
                    <span th:errors="${profile.primaryCarePhysicianAddress}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="primaryCarePhysicianPhoneNumber">Primary Care Physician Phone Number</label>
                    <input class="form-control" th:field="${profile.primaryCarePhysicianPhoneNumber}" />
                    <span th:errors="${profile.primaryCarePhysicianPhoneNumber}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="specialistName">Specialist Name</label>
                    <input class="form-control" th:field="${profile.specialistName}" />
                    <span th:errors="${profile.specialistName}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="specialistPhoneNumber">Specialist Phone Number</label>
                    <input class="form-control" th:field="${profile.specialistPhoneNumber}" />
                    <span th:errors="${profile.specialistPhoneNumber}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="specialistType">Specialist Type</label>
                    <input class="form-control" th:field="${profile.specialistType}" />
                    <span th:errors="${profile.specialistType}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="allergies">Known Allergies</label>
                    <input class="form-control" th:field="${profile.allergies}" />
                    <span th:errors="${profile.allergies}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="medicalConditions">Medical Conditions</label>
                    <input class="form-control" th:field="${profile.medicalConditions}" />
                    <span th:errors="${profile.medicalConditions}" class="error"></span>
                </div>

<!--        <h5 th:text="${'Current Preferred Pronouns: ' + user.profile.userPreferredPronouns}"></h5>-->
<!--        <input type="text" th:field="${profile.userPreferredPronouns}" class="form-group"/>-->

<!--        <h5 th:text="${'Current Medical Record Name: ' + user.profile.userMedicalRecordName}"></h5>-->
<!--        <input type="text" th:field="${profile.userMedicalRecordName}" class="form-group"/>-->

<!--        <h5 th:text="${'Current Address: ' + user.profile.userAddress}"></h5>-->
<!--        <input type="text" th:field="${profile.userAddress}" class="form-group"/>-->

<!--        <h5 th:text="${'Current Phone Number: ' + user.profile.userPhoneNumber}"></h5>-->
<!--        <input type="text" th:field="${profile.userPhoneNumber}" class="form-group"/>-->

<!--            <h5 th:text="${'Current Date of Birth: ' + user.profile.userDateOfBirth}"></h5>-->
<!--        <input type="text" th:field="${profile.userDateOfBirth}" class="form-group"/>-->

<!--            <h5 th:text="${'Current Emergency Contact: ' + user.profile.emergencyName}"></h5>-->
<!--        <input type="text" th:field="${profile.emergencyName}" class="form-group"/>-->

<!--            <h5 th:text="${'Current Emergency Contact Number: ' + user.profile.emergencyPhoneNumber}"></h5>-->
<!--        <input type="text" th:field="${profile.emergencyPhoneNumber}" class="form-group"/>-->

<!--            <h5 th:text="${'Current Emergency Contact Relationship: ' + user.profile.emergencyRelationship}"></h5>-->
<!--        <input type="text" th:field="${profile.emergencyRelationship}" class="form-group"/>-->

<!--            <h5 th:text="${'Current Primary Care Physician (PCP): ' + user.profile.primaryCarePhysicianName}"></h5>-->
<!--        <input type="text" th:field="${profile.primaryCarePhysicianName}" class="form-group"/>-->

<!--            <h5 th:text="${'Current PCP Address: ' + user.profile.primaryCarePhysicianAddress}"></h5>-->
<!--        <input type="text" th:field="${profile.primaryCarePhysicianAddress}" class="form-group"/>-->

<!--            <h5 th:text="${'Current PCP Phone Number: ' + user.profile.primaryCarePhysicianPhoneNumber}"></h5>-->
<!--        <input type="text" th:field="${profile.primaryCarePhysicianPhoneNumber}" class="form-group"/>-->

<!--            <h5 th:text="${'Current Specialist Physician: ' + user.profile.specialistName}"></h5>-->
<!--        <input type="text" th:field="${profile.specialistName}" class="form-group"/>-->

<!--            <h5 th:text="${'Current Specialist Phone Number: ' + user.profile.specialistPhoneNumber}"></h5>-->
<!--        <input type="text" th:field="${profile.specialistPhoneNumber}" class="form-group"/>-->

<!--            <h5 th:text="${'Current Specialist Type: ' + user.profile.specialistType}"></h5>-->
<!--        <input type="text" th:field="${profile.specialistType}" class="form-group"/>-->

<!--        <h5 th:text="${'Current Known Allergies of Any Kind: ' + user.profile.allergies}"></h5>-->
<!--        <input type="text" th:field="${profile.allergies}" class="form-group"/>-->

<!--        <h5 th:text="${'Current Medical Conditions: ' + user.profile.medicalConditions}"></h5>-->
<!--        <input type="text" th:field="${profile.medicalConditions}" class="form-group"/>-->

<!--        </div>-->

            <input type="submit" value="Update Profile"/>
        </div>

    </form>
    <hr>

        <a style="color:black;" th:href="@{'/user/profileView/{userId}' (userId=${userId})}">Return to my profile</a>
        <br>

</body>
</html>
<br>
<br>
<br>