<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<!--Use fragments.html for consistency across pages-->

<body class="container body-content">
<h1 th:text="${'User: ' + user.userName}">MedInfoTracker</h1>

<nav th:replace="fragments :: page-header"></nav>


<div class="user-profile">
    <p th:text="${'User ID: ' + user.id}"></p>
    <p th:text="${'Username: ' + user.userName}">
       <a th:href="@{'/profile/add'}"></a></p>
</div>

</body>
</html>