<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add Symptom</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name Symptom: <span class="required">*</span></label> <br>
        <!--<h1 access="false" id="control-6908305">Add Symptom</h1>-->
        <input class="form-control" th:field="${Symptom.name}" access="false" id="text1643" required="required" aria-required="true"/>
        <span th:errors="${Symptom.name}" class="error"></span>
    </div>
    <div class="formbuilder-date form-group field-startdate">
        <label th:for="startdate">Date Started<span class="required">*</span></label><br><!--/*@thymesVar id="Symptom" type=""*/-->
        <span th:errors="${Symptom.name}" class="error"></span>
        <input type="date"
               th:field="${Symptom.startdate}" class="form-control" name="startdate" access="false" id="startdate" title="if not sure approx date of symptom noticed" required="required" aria-required="true">
    </div>
    <div class="formbuilder-date form-group field-stopdate">
        <label th:for="stopdate">Date Stopped<span class="required">*</span></label><br><span th:errors="${Symptom.name}" class="error"></span>
        <input type="date"
               th:field="${Symptom.stopdate}" class="form-control" name="stopdate" access="false" id="stopdate"
               aria-required="true">
    </div>
    <div class="form-group">
        <label th:for="desctiptionm">Describe:<span class="required">*</span></label> <br>
        <!--<h1 access="false" id="control-6908305">Add Symptom</h1>-->
        <input class="form-control" th:field="${Symptom.description}" access="false" id="text164" required="required" aria-required="true"/>
        <span th:errors="${Symptom.description}" class="error"></span>
    </div>

    <input type="submit" value="Add Symptom" />
</form>

</body>
</html>
