<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<!--<head th:replace="fragments :: head"></head>-->

<body>

<!--<div th:replace="fragments :: page-header"></div>-->
<br>
<br>
<div class="container body-content">
    <h1> Welcome to the Medical Info Tracker</h1>
    <h2>View medication info by:</h2>
    <ul>
        <li th:each="action : ${actions}">
            <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a>
        </li>
        <p>Please select an option</p>
        <ol>
            <li><a href="symptom/add.html" th:href="@{/symptom/add}">Add a Symptom</a></li>
<!--            <span class="error" th:error="${symptoms.add}"></span>-->
<!--            <p class="error" th:errors="${404}"></p>-->
            <li><a href="symptom/view.html" th:href="@{/symptom/view}">View a list of your tracked symptoms</a></li>
<!--            <span class="error" th:error="${symptoms.name}"></span>-->
<!--            <li><a href="condition/add.html" th:href="@{/condition/add}">Add your medical conditions</a></li>-->
<!--            <span class="error" th:error="${conditions.name}"></span>-->
<!--            <li><a href="condition/view.html" th:href="@{/condition/view}">View a List of your medical conditions</a></li>-->
<!--            <span class="error" th:error="${conditions.name}"></span>-->
            <li><a href="userprofile.html" th:href="@{/userprofile}">See User Profile</a></li>
        </ol>
    </ul>
</div>

</body>

</html>.