<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<!--Use fragments.html for consistency across  pages-->
<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

<!--</div><h1 th:text="${'Medical Profile for: ' + user.userName}">MedInfoTracker</h1>-->
    <h1 th:text="${'Medical Information Tracker for: ' + user.userName}">MedInfoTracker</h1>
<div class="container body-content">

<!--        ADD A LINK HERE TO PROMP USER TO SIGN IN TO GOOGLE CALENDAR AND SEE UPCOMING MEDICAL DATES -->
    <h3>Calendar</h3>



    <a th:href="@{/login/google}">Access Your Google Calender</a>
<!--    GET https://www.googleapis.com/calendar/v3/calendars/calendarId/events-->
    <br>
</div>

<div class="container body-content">
    <a href="addProfile.html"
       th:href="@{/user/addProfile}">Create Your Medical Profile</a>
    <br>
    <a th:href="@{'user/profileView/{userId}' (userId=${userId})}">View My Profile</a>
    <br>

    <a th:href="@{/logout}">Or Logout to Change User</a>
</div>

</body>
</html>

