<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->

<!--<body class="container body-content">-->
<!--<h1 th:text="${'user: ' + user.userName}">Default Title</h1>-->

<!--<nav th:replace="fragments :: page-header"></nav>-->

<!--<div class="user-profile">-->
<!--&lt;!&ndash;    <p th:text="${'User ID: ' + user.id}"></p>&ndash;&gt;-->
<!--    <p th:text="${'Username: ' + user.userName}"></p>-->

<!--    <p>-->
<!--&lt;!&ndash;        Profile: <a th:href="@{'profile/view/' + ${user.profile}"></a>&ndash;&gt;-->
<!--    </p>-->


<!--&lt;!&ndash;    <p>&ndash;&gt;-->
<!--&lt;!&ndash;        Employer: <a th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a>&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>&ndash;&gt;-->
<!--&lt;!&ndash;        Skills:&ndash;&gt;-->
<!--&lt;!&ndash;    <ul>&ndash;&gt;-->
<!--&lt;!&ndash;        <li th:each="skill : ${job.skills}">&ndash;&gt;-->
<!--&lt;!&ndash;            <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--</div>-->


<!--</body>-->
<!--</html>-->