<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body><form id="form">

    <div class="rendered-form">

        <div class="">
            <h1 access="false" id="control-6908305">Add Symptom</h1>
        </div>

        <!-- <div class="formbuilder-button form-group field-button-1640469421986">
            <button type="button" class="form-control btn-success btn" name="button-1640469421986" access="false" style="success" id="button-1640469421986">Submit Symptom</button>
        </div> -->

        <div class="formbuilder-text form-group field-text-1640469933954">
            <label for="text-1640469933954" class="formbuilder-text-label">Name Symptom<span class="formbuilder-required">*</span></label>
            <input type="text" class="form-control" name="text-1640469933954" access="false" id="text-1640469933954" required="required" aria-required="true">
        </div>

        <div class="formbuilder-date form-group field-date-1640469983409">
            <label for="date-1640469983409" class="formbuilder-date-label">Date Started<span class="formbuilder-required">*</span><span class="tooltip-element" tooltip="if not sure approx date of symptom noticed">?</span></label>
            <input type="date" class="form-control" name="date-1640469983409" access="false" id="date-1640469983409" title="if not sure approx date of symptom noticed" required="required" aria-required="true">
        </div>

        <div class="formbuilder-select form-group field-select-1640475575615">
            <label for="select-1640475575615" class="formbuilder-select-label">Are you Still experiencing these symptoms?<span class="formbuilder-required">*</span></label>
            <select class="form-control" name="select-1640475575615" id="select-1640475575615" required="required" aria-required="true">
                <option value="Yes" selected="true" id="select-1640475575615-0">Yes</option>
                <option value="No" id="select-1640475575615-1">No</option>
            </select>
        </div>

        <div class="formbuilder-date form-group field-date-1640475395365">
            <label for="date-1640475395365" class="formbuilder-date-label">Symptom Stopped<span class="tooltip-element" tooltip="If ongoing please put check in box below.">?</span></label>
            <input type="date" class="form-control" name="date-1640475395365" access="false" id="date-1640475395365" title="If ongoing please put check in box below.">
        </div>
        <div class="formbuilder-textarea form-group field-textarea-1640470016782">
            <label for="textarea-1640470016782" class="formbuilder-textarea-label">Describe:<span class="formbuilder-required">*</span></label>
            <textarea type="textarea" class="form-control" name="textarea-1640470016782" access="false" id="textarea-1640470016782" required="required" aria-required="true"></textarea>
        </div>

        <div class="formbuilder-radio-group form-group field-Rating">
            <label for="Rating" class="formbuilder-radio-group-label">Rate intensity</label>

            <div class="radio-group">

                <div class="formbuilder-radio-inline">
                    <input name="Rating" access="false" id="Rating-0" value="0" type="radio">
                    <label for="Rating-0">0</label>
                    <input name="Rating" access="false" id="Rating-1" value="1" type="radio">
                    <label for="Rating-1">1</label>
                    <input name="Rating" access="false" id="Rating-2" value="2" type="radio">
                    <label for="Rating-2">2</label>
                    <input name="Rating" access="false" id="Rating-3" value="3" type="radio">
                    <label for="Rating-3">3</label>
                    <input name="Rating" access="false" id="Rating-4" value="4" type="radio">
                    <label for="Rating-4">4</label>
                    <input name="Rating" access="false" id="Rating-5" value="5" type="radio">
                    <label for="Rating-5">5</label>
                </div>
            </div>
        </div>

        <div class="formbuilder-button form-group field-button-1640470134051">
            <button type="button" class="btn-success btn" name="button-1640470134051" access="false" style="success" id="button-1640470134051">Add Symptom</button>
        </div>
    </div>
</form>

<script src="script.js"></script>
</body>
</html>