<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->

<!--<body>-->

<!--<div th:replace="fragments :: page-header"></div>-->
<!--<ol>-->
<!--    <li><a href="symptom/add.html" th:href="@{/symptom/add}">Add a Symptom</a></li>-->
<!--    &lt;!&ndash;            <span class="error" th:error="${symptoms.add}"></span>&ndash;&gt;-->
<!--    &lt;!&ndash;            <p class="error" th:errors="${404}"></p>&ndash;&gt;-->
<!--    <li><a href="symptom/view.html" th:href="@{/symptom/view}">View a list of your tracked symptoms</a></li>-->
<!--    &lt;!&ndash;            <span class="error" th:error="${symptoms.name}"></span>&ndash;&gt;-->
<!--    &lt;!&ndash;            <li><a href="condition/add.html" th:href="@{/condition/add}">Add your medical conditions</a></li>&ndash;&gt;-->
<!--    &lt;!&ndash;            <span class="error" th:error="${conditions.name}"></span>&ndash;&gt;-->
<!--    &lt;!&ndash;            <li><a href="condition/view.html" th:href="@{/condition/view}">View a List of your medical conditions</a></li>&ndash;&gt;-->
<!--    &lt;!&ndash;            <span class="error" th:error="${conditions.name}"></span>&ndash;&gt;-->
<!--    <li><a href="userprofile.html" th:href="@{/userprofile}">See User Profile</a></li>-->
<!--    <p>-->
<!--    <p> Symptoms:-->
<!--    <ul>-->
<!--        <li th:each="symptoms : ${symptoms.user}">-->
<!--            <a th:href="@{'/select/' + ${user.id}}" th:text="${user.name}"></a>-->
<!--        </li>-->
<!--    </ul>-->
<!--    </p>-->
<!--    </p>-->
<!--</ol>-->
<!--$END$-->
<!--</body>-->
<!--</html>-->